
  /*Caracteristicas*/
  
  .caracteristicas{
   
  
    
  }
  
  .caracteristicas h2{
  font-size: 28px;
  margin-top: auto;
  color: white;
  max-width: 400px;
  }
  
  .column-section {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto 20px;
  }
  
  .column {
    flex: 1 0 50px;
    min-width: 100px;
    background-color: #ffff;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .column_icon{
    width: 30px;
    margin:5px;
  }
  